<p>
    Table is just a mapping of objects to table rows with
    <code>ngFor</code>
</p>

<table class="table table-striped">
    <caption>Lista de empleados año 2021</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Identificación</th>
            <th scope="col">Nombre completo</th>
            <th scope="col">Fecha de nacimiento</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
                {{ empleado.identificacion.numero | number }}
            </td>
            <td>
                {{ empleado.nombreCompleto }}
            </td>
            <td>
                {{ empleado.fechaNacimiento }}
            </td>
        </tr>
    </tbody>
</table>